[submodule "src/nerdtree"]
	path = src/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "src/vim-rails"]
	path = src/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "src/gist-vim/plugin"]
	path = src/gist-vim/plugin
	url = git://github.com/mattn/gist-vim.git
[submodule "src/ruby_amp"]
	path = src/ruby_amp
	url = git://github.com/jtanner/ruby_amp.vim.git
[submodule "src/vim-git"]
	path = src/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "src/vim-cucumber"]
	path = src/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "src/vim-surround"]
	path = src/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "src/textile.vim"]
	path = src/textile.vim
	url = git://github.com/timcharper/textile.vim.git
